/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-table {
   width: 100%;
}

.mat-row .mat-raised-button {
   opacity: 0.3;
}

.mat-row:hover .mat-raised-button {
   opacity: 1;
}

.espac10px {
   width: 0;
   margin: 0 5px;
}

.list-toolbar {
   background: transparent;
   padding-left: 0 !important;
}

.mat-form-field {
   width: 100%;
}

.espac20px {
   width: 0;
   margin: 0 10px; /* 10px de CADA lado = 20px */
}

.form-toolbar {
   background: transparent;
   justify-content: center;
}